<div class="index-wrapper">
    <div class="tweet-contents">
      <% @tweets.each do |tweet| %>
        <!-- 投稿一件分 -->
        <div class="tweet-container">
          <div class="comment">
            <div class="count_num">0</div>
            <div class="comment-unit">comments</div>
          </div>
          <!-- 質問本文 -->
          <div class="tweet">
            <div class="tweet-top">
              <div class="tweet-title">
                <%= tweet.title %>
              </div>
              <div class="tweet-top-name">
                <%= tweet.name %>
              </div>
            </div>
            <div class="tweet-bottom">
              <div class="tweet-content">
                <%= tweet.content %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
</div>
